.rounded {
  border-radius: 10px !important;
}

.bott-input--rounded .q-field__control {
  border-radius: 10px;
}

.bott-tab__indicator .q-tab__indicator {
  height: calc(100% - 0.22em);
  background: transparent;
  border: currentColor 0.22em solid;
  border-radius: 10px !important;
}

.slide-tooltip {
  transform: translateY(100%);

  &.active {
    transform: translateY(0);
  }
}
